body {
    background: #000000;
    color: whitesmoke;
    /* text-align: right; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
/* font-family: 'Indie Flower', cursive; */
/* box-sizing: border-box; */
}

#gif-buttons {
    /* border: */
    margin: 10px;

}